;; https://github.com/clj-holmes/clj-watson
;; Software composition analysis (SCA): scan deps for vulns
;; clojure -Tclj-watson scan '{:output "stdout" :dependency-check-properties nil :fail-on-result true :deps-edn-path "deps.edn" :suggest-fix true :aliases ["*"] :database-strategy "dependency-check"}'
{:lib io.github.clj-holmes/clj-watson, :coord {:git/tag "v6.0.1", :git/sha "b520351"}}
