;; https://github.com/seancorfield/deps-new
;; App
;; clojure -Tnew app :name org.pilosus/app-name

;; Library
;; clojure -Tnew lib :name org.pilosus/lib-name

{:lib io.github.seancorfield/deps-new, :coord {:git/tag "v0.5.2", :git/sha "253f32a"}}
